
<section class="hero-section">
  <div class="hero-container">
    
    <div class="hero-left">
      <div class="hero-brand-title">
        <h1>Quality<span class="highlight">Control</span></h1>
        <p class="hero-subtitle">
          Ensuring technical excellence and continuous risk mitigation to safeguard the long-term value of each policy.
        </p>
      </div>

      <!-- Misión -->
      <div class="hero-badge">
        <span class="badge-tag">THE QC MISSION</span>
        <p class="badge-text">Risk mitigation that drives policy retention</p>
      </div>
    </div>

    <!--Truck-->
    <div class="hero-right">  
      <div class="truck-stage">

        <div class="truck-wrapper">
          <img 
            src="images/truck_tractor.png" 
            alt="Freightliner Cascadia" 
            class="truck-img" 
          />
          <div class="ground-shadow"></div>
        </div>
      </div>
    </div>

  </div>
</section>
