*, *::before, *::after {
  box-sizing: border-box;
}

:root {
  /* Modificado para que el modo oscuro sea la base por defecto */
  --color-bg-dark: #0a0a0a;      
  --color-bg-card: #141416;
  --color-border-subtle: rgba(255, 255, 255, 0.08);

  --color-text-white: #ffffff;    
  --color-text-muted: #8e8e93;   

  /* Colores de marca */
  --color-empresa-amarillo: #ffe600; 
  --color-empresa-verde: #00ff66;    
  --color-empresa-rojo: #ff3366;     
  --color-empresa-azul: #0066ff;  
  --color-empresa-morado: #9933ff;

  /* Bordes y Sombras estilizados tipo Robi DSG */
  --border-subtle: 1px solid var(--color-border-subtle);

  /* Tipografías */
  --title-font: 'Montserrat', sans-serif;
  --body-font: 'Inter', system-ui, -apple-system, sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden; 
  
  /* Ahora la base por defecto es oscura */
  background-color: var(--color-bg-dark);
  color: var(--color-text-white); 
  font-family: var(--body-font);
}

::selection {
  background-color: var(--color-empresa-amarillo);
  color: #000000;
}